<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your booking has been confirmed, <%= @user.name %>!</h1>
    <p>
      To check your booking information, please go to :<%= @url %>
      <br>
    </p>
     <p>Thanks for bookings with us and have a great day!</p>
  </body>
</html>